@charset "UTF-8";
.body {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  text-align: justify;
  line-height: 1.5;
  margin: 0px;
  background-color: #FFD433; }

h1 {
  padding-top: 100px;
  padding-right: 50px;
  text-align: right;
  font-size: 3.5rem; }

h2 {
  text-align: center; }

h3 {
  padding-left: 10px;
  margin-top: 30px; }

h5 {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-style: solid; }
  h5:hover {
    background-color: gray; }

h6 {
  text-align: center; }

a {
  text-decoration: none; }

li {
  list-style-type: none; }
  li:hover {
    background-color: gray;
    padding-left: 10px;
    padding-right: 10px; }

.subtitulo {
  padding-top: 20px;
  padding-bottom: 20px; }

h1, h2, h3, h5, h6 {
  color: #fc8506;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; }

h2, h3, h5, h6 {
  background-color: black; }

a {
  color: #fc8506;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; }

li {
  color: #fc8506;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; }

.header {
  background-image: url(../Imagenes/Header.png);
  background-size: cover;
  padding-bottom: 100px; }

.navbar-brand:hover {
  background-color: gray; }

.dropdown-item:hover {
  background-color: gray; }

.nav-link {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; }

.section {
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 20px;
  margin-bottom: 20px; }

.flexBoton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px; }

.gridFotos, .gridFotosImageIndex {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  grid-template-rows: auto;
  grid-column-gap: 10px; }

.gridFotosImage, .gridFotosImageIndex {
  height: 85%;
  width: 100%; }

/*INDEX-GALERÍA*/
.gridFotosImageIndex {
  grid-template-columns: repeat(6, 2fr); }

.gridGalería {
  display: grid;
  grid-template-columns: repeat(6, 2fr);
  grid-template-rows: repeat(3, 4fr);
  grid-column-gap: 20px;
  grid-row-gap: 30px;
  padding-bottom: 30px; }

.imgGalería {
  height: 85%;
  width: 100%; }
  .imgGalería:hover {
    transform: scale(1.1);
    transition: transform 1s; }

.form-label {
  color: #fc8506;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; }

.footer {
  background-color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding-top: 20px;
  padding-bottom: 20px; }

.footer1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
  column-gap: 200px; }

.footer2 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  column-gap: 80px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 2rem; }

.footer3 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center; }

@media only screen and (min-width: 0px) and (max-width: 479px) {
  .gridGalería {
    display: grid;
    grid-template-columns: repeat(1, 2fr); }
  .gridFotos, .gridFotosImageIndex {
    display: grid;
    grid-template-columns: repeat(1, 2fr);
    grid-template-rows: repeat(1, 2fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px; }
  .footer1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none; }
  .footer2 {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    column-gap: 40px;
    padding-top: 20px;
    padding-bottom: 20px; }
  .gridFotosImageIndex {
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: repeat(2, 2fr); } }

@media only screen and (min-width: 480px) and (max-width: 767px) {
  h1 {
    padding-top: none;
    padding-right: none;
    text-align: center;
    font-size: 3.5rem; }
  .gridFotos, .gridFotosImageIndex {
    display: grid;
    grid-template-columns: repeat(1, 2fr);
    grid-template-rows: repeat(1, 2fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px; }
  .gridGalería {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: repeat(2, 4fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px; }
  .imgGalería {
    width: 100%;
    height: 85%; }
  .footer1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none; }
  .footer2 {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    column-gap: 60px;
    padding-top: 20px;
    padding-bottom: 20px; }
  .gridFotosImageIndex {
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: repeat(2, 2fr); } }

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .gridGalería {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px; } }
