
.footer { display: flex; flex-flow: row nowrap; 
	      justify-content: center; 
		  background-color: $negro;
          font-family: $fuente; 
		  list-style-type: none;
          margin: 0%;
          padding-top: 20px; padding-bottom: 20px;
          column-gap: 200px;
}

.copy{display: flex;
      justify-content: center;
	  background-color: black;}

// .footerredes{ display: flex;
//               justify-content: center;
// 			  background-color: $negro;
// 			  font-size: 2rem;
// 			  list-style-type: none;
// 			  column-gap: 50px;
// 			  margin-bottom: 0%;
// 			  padding-bottom: 30px;}



	  

