.footer {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	background-color: black;
	font-family: $fuente;
	list-style-type: none;
	margin: 0%;
	padding-top: 20px;
	
	
}
.copy{padding-top: 30px;
      padding-bottom: 10px;
	  background-color: black;}