.gridFotos {
	display: grid;
	grid-template-columns: repeat(3, 2fr);
	grid-template-rows: auto;
	grid-column-gap: 10px;
	
}
.gridFotosImage {@include imagenes(85%, 100%); 
	           &::hover{transform: scale(1.3); transition: transform 1s;}
}
	

	/*INDEX-GALERÍA*/

.gridFotosImageIndex{@extend .gridFotos;
                     @extend .gridFotosImage;
					 grid-template-columns: repeat(6, 2fr);}

