.gridFotos {
	display: grid;
	grid-template-columns: repeat(4, 2fr);
	grid-template-rows: auto;
	grid-column-gap: 10px;
}
.gridFotosImage {@include imagenes(100%, 100%);}
	

	/*INDEX-GALERÍA*/

.gridFotosImageIndex{@extend .gridFotos;
                     @extend .gridFotosImage;
					 grid-template-columns: repeat(6, 2fr);}
