.gridFotos {
	display: grid;
	grid-template-columns: repeat(4, 2fr);
	grid-template-rows: auto;
	grid-column-gap: 10px;
}
.gridFotosImage {
	width: 100%;
	height: 100%;}

	/*INDEX-GALERÍA*/

.gridFotosImageIndex{@extend .gridFotos;
                     @extend .gridFotosImage;
					 grid-template-columns: repeat(6, 2fr);}
