.body {
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	text-align: justify;
	background-color: rgb(214, 210, 210);
	line-height: 1.5;
	margin: 0px;
}
h1 {padding-top: 100px;
	padding-right: 50px;
	text-align: right;
	font-size: 4rem;
}
h2 {text-align: center;
		
}
h3 {
	padding-left: 10px;
	
}
h5 {text-align: center;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-style: solid;
	&:hover {
		background-color: gray;
	}
}
h6 {
	text-align: center;
	
	
}
a {
	text-decoration: none;
	
}
li {
	
	&:hover {
		background-color: gray;
		padding-left: 10px;
		padding-right: 10px;
	}
}
