
@media only screen and (min-width:0px) and (max-width: 479px){
	
	h1, h2,h3,h5,h6{color: $naranja; 
		font-family:$fuente;}
    
	.gridGalería {
		display: grid;
		grid-template-columns: repeat(1, 2fr);}
	
	.gridFotos {
		display: grid;
		grid-template-columns: repeat(1, 2fr);
		grid-template-rows: repeat(1, 2fr);
		grid-column-gap: 10px;
		grid-row-gap: 10px;}
		
	.footer {
		display: flex;
		flex-direction: column;
		align-items: center;
			}
	.gridFotosImageIndex{
		grid-template-columns: repeat(2, 2fr);
		grid-template-rows: repeat(2,2fr);
				}
		
}

@media only screen and (min-width:480px) and (max-width: 767px) {
	
	h1 {padding-top: none;
		padding-right: none;
		text-align: center;
		font-size: 3.5rem;}	
	
		h1, h2,h3,h5,h6{ 
			font-family:$fuente;}
        
	
	.gridFotos {
		display: grid;
		grid-template-columns: repeat(1, 2fr);
		grid-template-rows: repeat(1, 2fr);
		grid-column-gap: 10px;
		grid-row-gap: 10px;
	}
	.gridGalería {
		display: grid;
		grid-template-columns: repeat(2, 2fr);
		grid-template-rows: repeat(2, 4fr);
		grid-column-gap: 20px;
		grid-row-gap: 20px;
	}
	.imgGalería {
		width: 100%;
		height: 85%;
	}
	.footer {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.gridFotosImageIndex{
		grid-template-columns: repeat(2, 2fr);
		grid-template-rows: repeat(2,2fr);
	    }
}

@media only screen and (min-width:768px) and (max-width: 992px) {
	
	.gridGalería {
		display: grid;
		grid-template-columns: repeat(3, 2fr);
		
		grid-column-gap: 20px;
		grid-row-gap: 20px;}
	}