$naranja: #fc8506;
$fuente: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$negro: black;

h1, h2,h3,h5,h6{color: $naranja; 
                font-family:$fuente;}
h2,h3,h5,h6{background-color: $negro;}
                
a{color: $naranja;
  font-family: $fuente;}

li{color: $naranja; 
   font-family: $fuente;}



